<div class="talkie-bombs" id="bombs-wrapper">
	<div class="img-container img-hbf" style="opacity:0"></div>
	<div class="img-container img-hotel" style="opacity:0"></div>
	<div class="img-container img-feuersturm" style="opacity:0"></div>

	<div class="bombs-counter-container">
		<div class="odometer bombs-counter" id="bombs-counter" style="display:none">0</div>
		<span class="bombs-counter-label" style="display:none">{{'BOMBS' | translate}}</span>
	</div>

	<svg width="100%" height="560px" viewBox="-20 0 1060 560" xml:space="preserve" id="bombs-svg" bombing>
		<defs>
			<clipPath id="greenclockarea1">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(108)"></path>
			</clipPath>
			<clipPath id="greenclockarea2">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(120)"></path>
			</clipPath>
			<clipPath id="greenclockarea3">
			    <path d="M0,0L0,-98L56.58032638058332,-98Z" transform="rotate(132)"></path>
			</clipPath>
			<clipPath id="greenclockarea4">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(162)"></path>
			</clipPath>
			<clipPath id="redclockarea">
			    <path d="M0,0L0,-98L220.1170,-98Z" transform="rotate(174)"></path>
			</clipPath>
			<clipPath id="redclockarea2">
			    <path d="M0,0L0,-98L16004614,-98Z" transform="rotate(240)"></path>
			</clipPath>
		</defs>

		<g class="clock-container" id="clock-container">
			<g transform="scale(0.9) translate(10 80)">
				<g transform="translate(-300 200)">
					<g class="clock-face" transform="translate(384 223.75)">
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea1" clip-path="url({{'greenclockarea1' | svgHref}})"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea2" clip-path="url({{'greenclockarea2' | svgHref}})"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea3" clip-path="url({{'greenclockarea3' | svgHref}})"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea4" clip-path="url({{'greenclockarea4' | svgHref}})"></circle>
						<circle cx="0" cy="0" r="95" fill="#993831" style="opacity:0" class="redclockarea" clip-path="url({{'redclockarea' | svgHref}})"></circle>
						<circle cx="0" cy="0" r="95" fill="#6A3628" style="opacity:0" class="redclockarea2" clip-path="url({{'redclockarea2' | svgHref}})"></circle>
						<line x1="0" x2="0" y1="0" y2="-50" class="hour-hand" transform="rotate(218.999999)"></line>
						<line x1="0" x2="0" y1="0" y2="-70" class="minute-hand" transform="rotate(108)"></line>
						<line x1="0" x2="0" y1="10" y2="-80" class="second-hand" style="opacity:0"></line>
					</g>
					<g transform="scale(0.8)" ng-include="'partials/svg/clock.html'"></g>
				</g>
				<text x="84.5" y="395" class="current-time clock" text-anchor="middle" style="opacity:0">19:18</text>
			</g>
		</g>

		<g class="cloud" style="opacity:0">
			<g transform="scale(0.7) translate(60 240)" ng-include="'partials/svg/cloud.html'"></g>
		</g>

		<g class="airplanes-container">
			<g class="airplanes">
				<g style="display:none">
					<g id="lancasterTemplate" transform="scale(0.25) translate(0 70)" ng-include="'partials/svg/lancaster_side_simplified.html'"></g>
				</g>
				<g class="airplane airplane-0">
					<use xlink:href="{{'lancasterTemplate' | svgHref}}" transform="translate(-1060 -30)" style="opacity:0"></use>
				</g>
				<g class="airplane airplane-1">
					<use xlink:href="{{'lancasterTemplate' | svgHref}}" transform="translate(-725 15)" style="opacity:0"></use>
				</g>
				<g class="airplane airplane-2">
					<use xlink:href="{{'lancasterTemplate' | svgHref}}" transform="translate(-610 -50)" style="opacity:0"></use>
				</g>
				<g class="airplane airplane-3">
					<use xlink:href="{{'lancasterTemplate' | svgHref}}" transform="translate(-300 0)" style="opacity:0"></use>
				</g>
			</g>

			<g class="mosquitos">
				<g class="mosquito mosquito-0" transform="translate(-3000, 0)">
					<g id="mosquitoTemplate" transform="translate(-250, -50) scale(0.25)" ng-include="'partials/svg/mosquito_side_simplified.html'"></g>
				</g>
				<use xlink:href="{{'mosquitoTemplate' | svgHref}}" class="mosquito mosquito-1" transform="translate(-3000, 0)"></use>
				<use xlink:href="{{'mosquitoTemplate' | svgHref}}" class="mosquito mosquito-2" transform="translate(-3000, 0)"></use>
				<use xlink:href="{{'mosquitoTemplate' | svgHref}}" class="mosquito mosquito-3" transform="translate(-3000, 0)"></use>
			</g>
		</g>

		<g class="christbaums" transform="translate(100 0)">
			<g class="christbaum christbaum-1" transform="translate(30,40)" style="opacity:0">
				<g id="christbaumTemplate" transform="translate(0, 100) scale(0.15)">
					<g opacity="0.75" transform="translate(1210, -480) scale(2.5)">
						<circle opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="22.358"></circle>
						<circle opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="38.833"></circle>
						<circle opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.914" cy="347.989" r="62.37"></circle>
						<circle opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="92.183"></circle>
						<circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.912" cy="347.989" r="10.983"></circle>
					</g>
					<g ng-include="'partials/svg/christbaum.html'"></g>
				</g>
			</g>
			<use xlink:href="{{'christbaumTemplate' | svgHref}}" class="christbaum christbaum-2" transform="translate(200,80)" style="opacity:0"></use>
			<use xlink:href="{{'christbaumTemplate' | svgHref}}" class="christbaum christbaum-3" transform="translate(320,10)" style="opacity:0"></use>
			<use xlink:href="{{'christbaumTemplate' | svgHref}}" class="christbaum christbaum-4" transform="translate(470,60)" style="opacity:0"></use>
			<use xlink:href="{{'christbaumTemplate' | svgHref}}" class="christbaum christbaum-5" transform="translate(640,40)" style="opacity:0"></use>
			<use xlink:href="{{'christbaumTemplate' | svgHref}}" class="christbaum christbaum-6" transform="translate(785,10)" style="opacity:0"></use>
		</g>

		<g class="circles">
			<g ng-repeat="circle in circles" class="circle circle-{{circle.id}}" ng-attr-transform="{{circle.translate}}" style="opacity:0">
				<g class="inner-circle-group" opacity="{{circle.opacity}}" ng-attr-transform="{{circle.scale}}">
					<circle class="inner-circle-1" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="10.983"></circle>
					<circle class="inner-circle-2" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="22.358"></circle>
					<circle class="inner-circle-3" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="38.833"></circle>
					<circle class="inner-circle-4" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="62.37"></circle>
					<circle class="inner-circle-5" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="92.183"></circle>
				</g>
			</g>
		</g>

		<g class="city">
			<g transform="translate(135,138)" ng-include="'partials/svg/city.html'"></g>
			<rect style="fill:#4E4E4E" x="-3000" y="550" width="6960" height="1000"></rect>
		</g>
    </svg>

	<div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
		<a class="selectionscreen-choice" ng-click="videogularAPI.play()">
			<img class="play" src="img/play.svg">

			<h2>{{'CHAPTER' | translate}} 4: {{'CHAPTER_4' | translate}}</h2>
		</a>
	</div>

	<div class="selectionscreen" ng-show="showEndscreen">
		<a class="selectionscreen-choice" ng-click="showEndscreen=false;showBombsInteractive=true">
			<img src="img/endscreen/interaktiv.svg">
			{{'EXPLORE_BOMBS' | translate}}
		</a>
		<a class="selectionscreen-choice" href="/destruction" start-video-on-click>
			<img src="img/endscreen/next.svg">
			{{'CHAPTER' | translate}} 5: {{'CHAPTER_5' | translate}}
		</a>
	</div>

	<div class="bombs-interactive" ng-if="showBombsInteractive">
		<div class="bombs-interactive-container">

			<h2 class="bomb-comparison-title">{{'BOMBS_COMPARISON' | translate}}</h2>
			<img src="img/bombs/07_Bomben_im_Vergleich.svg" class="bomb-comparison-img">

			<table class="bomb-table">
				<tbody>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Grosse_Sprengbombe.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">{{'BOMBS_EXPLOSIVE_12000' | translate}}</p>

						<p>{{'BOMBS_EXPLOSIVE_12000_DESC' | translate}}</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img bomb-img-collection">
						<img src="img/bombs/08_Grossladungsbombe.svg">
						<img src="img/bombs/08_Sprengbombe1.svg">
						<img src="img/bombs/08_Sprengbombe2.svg">
						<img src="img/bombs/08_Sprengbombe3.svg">
						<img src="img/bombs/08_Sprengbombe4.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">{{'BOMBS_EXPLOSIVES' | translate}}</p>

						<p>{{'BOMBS_EXPLOSIVES_DESC' | translate}}</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Stabbrandbomben.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">{{'BOMBS_FIRE' | translate}}</p>

						<p>{{'BOMBS_FIRE_DESC' | translate}}</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Leuchtbombe_Christbaum.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">{{'BOMBS_LIGHT' | translate}}</p>

						<p>{{'BOMBS_LIGHT_DESC' | translate}}</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Markierungsbombe.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">{{'BOMBS_MARKER' | translate}}</p>

						<p>{{'BOMBS_MARKER_DESC' | translate}}</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>