<div class="talkie-bombs" id="bombs-wrapper">
	<div class="img-container img-hbf" style="opacity:0"></div>
	<div class="img-container img-hotel" style="opacity:0"></div>
	<div class="img-container img-feuersturm" style="opacity:0"></div>
	<div class="img-container img-brand3" style="opacity:0"></div>

	<div class="bombs-counter-container">
		<div class="odometer bombs-counter" id="bombs-counter" style="display:none">0</div>
		<span class="bombs-counter-label" style="display:none">Bomben</span>
	</div>

	<svg width="100%" height="560px" viewBox="0 0 960 560" xml:space="preserve" id="bombs-svg" bombing>
		<defs>
			<clipPath id="greenclockarea1">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(108)"></path>
			</clipPath>
			<clipPath id="greenclockarea2">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(120)"></path>
			</clipPath>
			<clipPath id="greenclockarea3">
			    <path d="M0,0L0,-98L56.58032638058332,-98Z" transform="rotate(132)"></path>
			</clipPath>
			<clipPath id="greenclockarea4">
			    <path d="M0,0L0,-98L20.830543043662164,-98Z" transform="rotate(162)"></path>
			</clipPath>
			<clipPath id="redclockarea">
			    <path d="M0,0L0,-98L220.1170,-98Z" transform="rotate(174)"></path>
			</clipPath>
			<clipPath id="redclockarea2">
			    <path d="M0,0L0,-98L16004614,-98Z" transform="rotate(240)"></path>
			</clipPath>
		</defs>

		<g class="clock-container">
			<g transform="scale(0.9) translate(10 80)">
				<g transform="translate(-300 200)">
					<g class="clock-face" transform="translate(384 223.75)">
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea1" clip-path="url({{path}}#greenclockarea1)"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea2" clip-path="url({{path}}#greenclockarea2)"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea3" clip-path="url({{path}}#greenclockarea3)"></circle>
						<circle cx="0" cy="0" r="95" fill="#BD8564" style="opacity:0" class="greenclockarea4" clip-path="url({{path}}#greenclockarea4)"></circle>
						<circle cx="0" cy="0" r="95" fill="#993831" style="opacity:0" class="redclockarea" clip-path="url({{path}}#redclockarea)"></circle>
						<circle cx="0" cy="0" r="95" fill="#6A3628" style="opacity:0" class="redclockarea2" clip-path="url({{path}}#redclockarea2)"></circle>
						<line x1="0" x2="0" y1="0" y2="-50" class="hour-hand" transform="rotate(218.999999)"></line>
						<line x1="0" x2="0" y1="0" y2="-70" class="minute-hand" transform="rotate(108)"></line>
						<line x1="0" x2="0" y1="10" y2="-80" class="second-hand" style="opacity:0"></line>
					</g>
					<g transform="scale(0.8)" ng-include="'partials/svg/clock.html'"></g>
				</g>
				<text x="84.5" y="395" class="current-time clock" text-anchor="middle" style="opacity:0">19:18</text>
			</g>
		</g>

		<g class="cloud" style="opacity:0">
			<g transform="scale(0.7) translate(60 240)" ng-include="'partials/svg/cloud.html'"></g>
		</g>

		<g class="bombs" style="opacity:0">
			<g class="explosive-bombs" style="opacity:0.5">
				<text x="432" y="80" class="bomb-label" style="opacity:0">Sprengbomben</text>
				<g transform="scale(0.45) translate(740 -20)" ng-include="'partials/svg/explosiveBombs.html'"></g>
			</g>
			<g class="fire-bombs" transform="translate(480 79)" style="opacity:0.5">
				<text x="210" y="100" class="bomb-label" style="opacity:0">Brandbomben</text>
				<g transform="scale(0.45)" ng-include="'partials/svg/fireBomb.html'"></g>
			</g>
		</g>

		<g class="airplanes">
			<g ng-repeat="airplane in airplanes" class="airplane airplane-{{airplane.id}}" ng-attr-transform="{{airplane.transform}}">
				<g transform="scale(0.25) translate(0 70)" ng-include="'partials/svg/lancaster_side_simplified.html'" style="opacity:0"></g>
			</g>
		</g>

		<g ng-repeat="christbaum in christbaumList" class="christbaum christbaum-{{christbaum.id}}" ng-attr-transform="{{christbaum.transform}}" style="opacity:0">
			<g transform="translate(0, 100) scale(0.15)">
				<g opacity="0.75" transform="translate(1210, -480) scale(2.5)">
					<circle opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="22.358"></circle>
					<circle opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="38.833"></circle>
					<circle opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.914" cy="347.989" r="62.37"></circle>
					<circle opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="92.183"></circle>
					<circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.912" cy="347.989" r="10.983"></circle>
				</g>
				<g ng-include="'partials/svg/christbaum.html'"></g>
			</g>
		</g>

		<g ng-repeat="mosquitoAirplane in mosquitoAirplanes" class="mosquito mosquito-{{mosquitoAirplane.id}}" transform="translate(-3000, 0)">
			<g transform="translate(-250, -50) scale(0.25)" ng-include="'partials/svg/mosquito_side_simplified.html'"></g>
		</g>

		<g ng-repeat="circle in circles" class="circle circle-{{circle.id}}" ng-attr-transform="{{circle.translate}}" style="opacity:0">
			<g class="inner-circle-group" opacity="{{circle.opacity}}" ng-attr-transform="{{circle.scale}}">
				<circle class="inner-circle-1" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="10.983"></circle>
				<circle class="inner-circle-2" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="22.358"></circle>
				<circle class="inner-circle-3" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="38.833"></circle>
				<circle class="inner-circle-4" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="62.37"></circle>
				<circle class="inner-circle-5" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="92.183"></circle>
			</g>
		</g>

		<g class="city">
			<g transform="translate(135,138)" ng-include="'partials/svg/city.html'"></g>
		</g>
    </svg>

	<div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
		<a class="selectionscreen-choice" ng-click="videogularAPI.play()">
			<img class="play" src="img/play.svg">
			<h2>Kapitel 4: Der Angriff</h2>
		</a>
	</div>

	<div class="selectionscreen" ng-show="showEndscreen">
		<a class="selectionscreen-choice" ng-click="showEndscreen=false;showBombsInteractive=true">
			<img src="img/endscreen/interaktiv.svg">
			Bomben erkunden
		</a>
		<a class="selectionscreen-choice" href="/destruction">
			<img src="img/endscreen/next.svg">
			Kapitel 5: Heilbronn ist zerstört
		</a>
	</div>

	<div class="bombs-interactive" ng-if="showBombsInteractive">
		<div class="bombs-interactive-container">
			<table class="bomb-table">
				<tbody>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Grossladungsbombe.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">12000-lb-Sprengbomben</p>

						<p>Diese großen Sprengbomben waren mit über 5000 Kilogramm Sprengstoff befüllt. Fünf bis zehn
							dieser Bomben warfen die Briten über Heilbronn ab. Sie explodierten schon mehrere Meter über
							dem Boden. So sollten sie die Dächer von den Häusern reißen, damit später kleinere Bomben in
							die Häuser fallen.</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Grosse_Sprengbombe.svg">
						<img src="img/bombs/08_Sprengbombe1.svg">
						<img src="img/bombs/08_Sprengbombe2.svg">
						<img src="img/bombs/08_Sprengbombe3.svg">
						<img src="img/bombs/08_Sprengbombe4.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">Andere Sprengbomben</p>

						<p>Über 1000 solcher Bomben fielen am 4. Dezember auf Heilbronn. Je nach Größe waren sie mit
							zwischen 500 und 1800 Kilo Sprengstoff befüllt. Manche der Bomben hatten eingebauten
							Zeitzünder, um erst später zu explodieren. Diese Bomben finden Arbeiter zum Teil heute noch
							auf Baustellen, weil die Zeitzünder nicht immer funktionierten.</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Stabbrandbomben.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">Stabbrandbomben</p>

						<p>Der große Teil der Bomben, die über Heilbronn fielen, waren solche Stabbrandbomben. Rund
							200.000 dieser etwa 60 Zentimeter langen Stäbe warfen die Briten ab. Die Bomben waren mit
							Thermiten gefüllt, die schnell große Hitze entstehen lassen. So sollte ganz Heilbronn
							brennen. Reste dieser Bomben finden sich heute noch häufig auf Baustellen, zum Beispiel auf
							dem BuGa-Areal.</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Leuchtbombe_Christbaum.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">Leuchtbomben</p>

						<p>Diese sogenannten Christbäume warfen die Flugzeuge an Fallschirmen ab. Die Bomben sanken nur
							langsam zur Erde. Sie hatten einen etwa neun Kilogramm schweren Leuchtsatz geladen, der rund
							vier Minuten lang brannte. Mit etwa 1000 dieser Bomben beleuchteten die Kampfflugzeuge den
							Himmel, um in der Nacht eine bessere Sicht auf Heilbronn zu haben.</p>
					</td>
				</tr>
				<tr>
					<td class="bomb-img">
						<img src="img/bombs/08_Markierungsbombe.svg">
					</td>
					<td class="bomb-desc">
						<p class="bomb-detail-label">Zielmarkierungsbomben</p>

						<p>Diese Bomben waren meiste mit 60 Leuchtsätzen bestückt. Sie explodierten am Boden und setzten
							dann eine roten, grünen oder gelben Rauch frei. Etwa 13 dieser Bomben landeten in Heilbronn.
							Mit ihrer Hilfe sollten die Kampfflugzeuge ihre Ziele besser erkennen.</p>
					</td>
				</tr>
				</tbody>
			</table>

			<h2 class="bomb-comparison-title">Bomben im Vergleich</h2>
			<img src="img/bombs/07_Bomben_im_Vergleich.svg">
		</div>
	</div>
</div>