<div class="talkie-bombs" id="bombs-wrapper">
	<div class="img-container img-hbf" style="opacity:0"></div>
	<div class="img-container img-hotel" style="opacity:0"></div>
	<div class="img-container img-feuersturm" style="opacity:0"></div>

	<div class="bombs-counter-container">
		<div class="odometer bombs-counter" id="bombs-counter" style="display:none">0</div>
		<span class="bombs-counter-label" style="display:none">Bomben</span>
	</div>

	<svg width="100%" height="560px" viewBox="0 0 960 560" xml:space="preserve" id="bombs-svg" bombing>
		<defs>
			<clipPath id="greenclockarea">
			    <path d="M0,0L0,-98L0,-98Z" transform="rotate(108)"></path>
			</clipPath>
			<clipPath id="redclockarea">
			    <path d="M0,0L0,-98L220.1170,-98Z" transform="rotate(174)"></path>
			</clipPath>
		</defs>

		<g class="clock-container">
			<g transform="scale(0.9) translate(10 80)">
				<g transform="translate(-300 200)">
					<g class="clock-face" transform="translate(384 223.75)">
						<circle cx="0" cy="0" r="98" fill="#00FF00" style="opacity:0.6" clip-path="url({{path}}#greenclockarea)"></circle>
						<circle cx="0" cy="0" r="98" fill="#FF0000" style="opacity:0" class="redclockarea" clip-path="url({{path}}#redclockarea)"></circle>
						<line x1="0" x2="0" y1="0" y2="-50" class="hour-hand" transform="rotate(218.999999)"></line>
						<line x1="0" x2="0" y1="0" y2="-70" class="minute-hand" transform="rotate(108)"></line>
						<line x1="0" x2="0" y1="10" y2="-80" class="second-hand" style="opacity:0"></line>
					</g>
					<g transform="scale(0.8)" ng-include="'partials/svg/clock.html'"></g>
				</g>
				<text x="84.5" y="395" class="current-time clock" text-anchor="middle" style="opacity:0">19:18</text>
			</g>
		</g>

		<g class="cloud" style="opacity:0">
			<g transform="scale(0.9) translate(-250 140)" ng-include="'partials/svg/cloud.html'"></g>
		</g>

		<g class="bombs" transform="scale(0.55) translate(950 50)" style="opacity:0" ng-include="'partials/svg/bombTypes.html'"></g>

		<g ng-repeat="airplane in airplanes" class="airplane airplane-{{airplane.id}}" transform="translate(0, 0) scale(0.35)">
        	<g transform="translate(-2000 0)" ng-include="'partials/svg/lancaster_side_simplified.html'"></g>
		</g>

		<g class="bomb7" transform="translate(-200, 200)" style="opacity:0">
			<g transform="rotate(-40 0 0) scale(0.35)" ng-include="'partials/svg/bomb7.html'"></g>
		</g>

		<g ng-repeat="christbaum in christbaumList" class="christbaum christbaum-{{christbaum.id}}" ng-attr-transform="{{christbaum.transform}}" style="opacity:0">
			<g transform="translate(0, 50) scale(0.2)">
				<g opacity="0.75" transform="translate(1210, -480) scale(2.5)">
					<circle opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="22.358"></circle>
					<circle opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="38.833"></circle>
					<circle opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.914" cy="347.989" r="62.37"></circle>
					<circle opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.913" cy="347.989" r="92.183"></circle>
					<circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="-292.912" cy="347.989" r="10.983"></circle>
				</g>
				<g ng-include="'partials/svg/christbaum.html'"></g>
			</g>
		</g>

		<g ng-repeat="mosquitoAirplane in mosquitoAirplanes" class="mosquito mosquito-{{mosquitoAirplane.id}}" transform="translate(-3000, 0)">
			<g transform="translate(-250, -100) scale(0.3)" ng-include="'partials/svg/mosquito_side_simplified.html'"></g>
		</g>

		<g ng-repeat="circle in circles" class="circle circle-{{circle.id}}" ng-attr-transform="{{circle.translate}}" style="opacity:0">
			<g class="inner-circle-group" opacity="{{circle.opacity}}" ng-attr-transform="{{circle.scale}}">
				<circle class="inner-circle-1" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="10.983"></circle>
				<circle class="inner-circle-2" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="22.358"></circle>
				<circle class="inner-circle-3" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="38.833"></circle>
				<circle class="inner-circle-4" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="62.37"></circle>
				<circle class="inner-circle-5" opacity="0" fill-rule="evenodd" clip-rule="evenodd" fill="{{circle.color}}" cx="0" cy="0" r="92.183"></circle>
			</g>
		</g>

		<g class="city">
			<g transform="translate(135,138)" ng-include="'partials/svg/city.html'"></g>
		</g>
    </svg>
</div>