<div class="talkie-wrapper" comparison>
    <div class="map-container" id="comparison-map"></div>

    <svg viewBox="0 0 960 560" xml:space="preserve" class="comparison-chart" style="display: none;"></svg>

    <div class="imgs" style="display:none">
        <div class="img-container img-wiederaufbau" style="opacity:1"></div>
        <div class="img-container img-wiederaufbau2" style="opacity:0"></div>
    </div>

    <div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
        <a class="selectionscreen-choice" ng-click="videogularAPI.play()">
            <img class="play" src="img/play.svg">
            <h2>Kapitel 6: Der Luftkrieg</h2>
        </a>
    </div>

    <div class="selectionscreen" ng-show="showEndscreen" videogular-api>
        <a class="selectionscreen-choice" ng-click="showEndscreen=false;videogularAPI.seekTime(20)">
            <img src="img/endscreen/interaktiv.svg">
            Karte erkunden
        </a>
    </div>
</div>