<div class="talkie-wrapper" comparison>
    <div class="map-container" id="comparison-map"></div>

    <div class="imgs" style="display:none">
        <div class="img-container img-tote" style="opacity:0"></div>
        <div class="img-container img-kilianskirche-west" style="opacity:0"></div>
        <div class="img-container img-wiederaufbau" style="opacity:0"></div>
    </div>

    <div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
        <a class="selectionscreen-choice" ng-click="videogularAPI.play()">
            <img class="play" src="img/play.svg">

            <h2>{{'CHAPTER' | translate}} 6: {{'CHAPTER_6' | translate}}</h2>
        </a>
    </div>

    <div class="selectionscreen" ng-show="showEndscreen" videogular-api>
        <a class="selectionscreen-choice" ng-click="showEndscreen=false;videogularAPI.seekTime(12)">
            <img src="img/endscreen/interaktiv.svg">
            {{'EXPLORE_MAP' | translate}}
        </a>
    </div>
</div>