<div class="talkie-wrapper" destruction>
    <div class="imgs">
        <div class="img-container img-luft" style="opacity:1"></div>
        <div class="img-container img-kiliansplatz" style="opacity:0"></div>
        <div class="img-container img-rathaus" style="opacity:0"></div>
        <div class="img-container img-wollhaus" style="opacity:0"></div>
    </div>

    <div class="map-container" id="destruction-map"></div>

    <div class="img-container" ng-if="img">
        <div class="img-container" style="background-image:url('img/destruction/{{img}}')">
            <div class="x-close-icon close-icon" ng-click="hideImg()">&#10006;</div>
        </div>
    </div>

    <div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
        <a class="selectionscreen-choice" ng-click="videogularAPI.play()">
            <img class="play" src="img/play.svg">
            <h2>Kapitel 5: Heilbronn ist zerstört</h2>
        </a>
    </div>

    <div class="selectionscreen" ng-show="showEndscreen">
        <a class="selectionscreen-choice" ng-click="activateInteractive()">
            <img src="img/endscreen/interaktiv.svg">
            Zerstörte Stadt erkunden
        </a>
        <a class="selectionscreen-choice" href="/comparison" start-video-on-click>
            <img src="img/endscreen/next.svg">
            Kapitel 6: Der Luftkrieg
        </a>
    </div>
</div>