<h1>Team</h1>

<p>Redaktion: Daniel Stahl (@stahlniel), Isabelle Müller (@isa_mue), Vanessa Wormer (@remrow)</p>

<p>Entwicklung: Felix Ebert (@femeb), Daniel Nowak (@snet_nowak)</p>

<p>Design: Heiko Nicht (@heikonicht)</p>

<p>Sprecher: Benedikt Witzenberger (@munichrocker)</p>

<p>(Framework: Talkie by kiln)</p>

<h1>Quellen</h1>

<p>Stadtarchiv Heilbronn</p>

<p>Kampfmittelbeseitigungsdienst Baden-Württemberg</p>

<p>Hubert Bläsi / Christhardt Schrenk: Heilbronn 1944/45, Leben und Sterben einer Stadt, Heilbronn 1995.</p>

<p>Uwe Jacobi: Heilbronn, 4. Dezember 1944, Protokoll einer Katastrophe, 1955.</p>

<p>Wilhelm Steinhilber, Heilbronn: Die schwersten Stunden der Stadt, 1988.</p>

<p>The National Archives, United Kingdom, Catalogue Ref: AIR 16/487</p>

<p>Royal Air Force http://www.raf.mod.uk/ </p>

<p>Oliver Sauer, Süddeutsches Eisenbahnmuseum Heilbronn</p>

<p>Hans Brunswig, Feuersturm über Hamburg, Stuttgart 2000.</p>

<p>Gebhard Aders, Bombenkrieg, Strategien der Zerstörung 1939-1945, Köln 2004.</p>

<h1>Dank an</h1>

<p>Stadtarchiv Heilbronn</p>

<p>Kampfmittelbeseitigungsdienst Baden-Württemberg</p>

<h1>Impressum</h1>

<p>HEILBRONNER STIMME GmbH & Co. KG</p>

<p>Allee 2, 74072 Heilbronn</p>

<p>Telefon 07131 615-0</p>

<p>Fax 07131 615-200</p>

<p>E-Mail servicecenter@stimme.de</p>

<p>Amtsgericht Stuttgart HRA 103208</p>

<p>Umsatzsteuer ID: DE 145800252</p>

<p>phG: Heilbronner Stimme Verwaltungsgesellschaft mbH</p>

<p>Amtsgericht Stuttgart HRB 103454</p>

<p>Geschäftsführer:</p>

<p>Tilmann Distelbarth, Bernd Herzberger</p>