<p class="info-title">Team</p>

<p>Redaktion: <br>
    Daniel Stahl (<a target="_blank" href="http://twitter.com/stahlniel"> @stahlniel</a>),
    Isabelle Müller (<a target="_blank" href="http://twitter.com/isa_mue">@isa_mue</a>),
    Vanessa Wormer (<a target="_blank" href="http://twitter.com/remrow">@remrow</a>)
</p>

<p>Entwicklung: <br>
    Felix Ebert (<a target="_blank" href="http://twitter.com/femeb">@femeb</a>),
    Daniel Nowak (<a href="http://twitter.com/snet_nowak">@snet_nowak</a>)
</p>

<p>Gestaltung und Illustration:<br>
    Heiko Nicht (<a target="_blank" href="http://twitter.com/heikonicht">@heikonicht</a>)
</p>

<p>Sprecher: <br>Benedikt Witzenberger (<a target="_blank" href="http://twitter.com/munichrocker">@munichrocker</a>)</p>

<p>Frameworks: <br>
    <a target="_blank" href="http://www.kiln.it/talkie/">Talkie by Kiln</a>,
    <a target="_blank" href="http://d3js.org/">D3.js</a>,
    <a href="http://leafletjs.com/">Leaflet</a>
</p>


<p class="info-title">Quellen</p>
Stadtarchiv Heilbronn<br>
Hubert Bläsi<br>
Sven Rasehorn, Kampfmittelbeseitigungsdienst Baden-Württemberg<br>
Oliver Sauer, Süddeutsches Eisenbahnmuseum Heilbronn<br>
The National Archives, United Kingdom, Catalogue Ref: AIR 16/487<br>
<a target="_blank" href="http://www.raf.mod.uk/">Royal Air Force, Great Britain</a><br>
Wikipedia, De Havilland Mosquito, CC BY-SA 3.0 Kaboldy<br>
Hubert Bläsi / Christhardt Schrenk: Heilbronn 1944/45, Leben und Sterben einer Stadt, Heilbronn 1995.<br>
Uwe Jacobi, Heilbronn, 4. Dezember 1944, Protokoll einer Katastrophe, 1955.<br>
Wilhelm Steinhilber, Heilbronn: Die schwersten Stunden der Stadt, 1988.<br>
Hans Brunswig, Feuersturm über Hamburg, Stuttgart 2000.<br>
Gebhard Aders, Bombenkrieg, Strategien der Zerstörung 1939-1945, Köln 2004.<br>

<p class="info-title">Datenschutz</p>

<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). <a
        href="https://support.google.com/analytics/answer/6004245?hl=de">Weitere Infos</a></p>

<p class="info-title">Impressum</p>

HEILBRONNER STIMME GmbH & Co. KG<br>
Allee 2, 74072 Heilbronn<br>
Telefon 07131 615-0<br>
Fax 07131 615-200<br>
E-Mail servicecenter@stimme.de<br>
Amtsgericht Stuttgart HRA 103208<br>
Umsatzsteuer ID: DE 145800252<br>
phG: Heilbronner Stimme Verwaltungsgesellschaft mbH<br>
Amtsgericht Stuttgart HRB 103454<br>
Geschäftsführer:<br>
Tilmann Distelbarth, Bernd Herzberger<br>