<div class="video-container intro-video">
    <vg-video vg-src="videogularConfig.sources">
        <span class="legal-notice">Quelle: Stadtarchiv Heilbronn</span>
    </vg-video>
    <vg-poster-image vg-url="videogularConfig.plugins.poster"></vg-poster-image>
</div>
<div track-video-start videogular-api>
    <div class="start" ng-hide="videoHasStarted">
        <div class="container">
            <a class="playbutton" ng-click="videogularAPI.play()"></a>

            <div class="headline">
                <h1>Operation Sawfish</h1>

                <h2>Die Bombardierung Heilbronns <br/>am 4. Dezember 1944</h2>
            </div>
        </div>
    </div>
    <div class="endscreen"
         ng-show="videogularAPI.isCompleted && videogularAPI.currentState === 'stop' && videoHasStarted">
        <div class="endscreen-choice" intro-video-swapper ng-hide="fullVideoLoaded">
            <p><a ng-click="showFullVideo()"><img src="img/endscreen/interaktiv.svg"></a></p>

            <p class="endscreen-choice-title"><a ng-click="showFullVideo()">Video in voller Länge ansehen</a></p>
        </div>
        <div class="endscreen-choice">
            <p><a href="/targetSelection"><img src="img/endscreen/next.svg" class="icon-next"></a></p>

            <p class="endscreen-choice-title"><a href="/targetSelection">Kapitel 2: Der Plan</a></p>
        </div>
    </div>
</div>
