<div class="video-container intro-video">
    <vg-video vg-src="videogularConfig.sources">
        <span class="legal-notice"
              ng-show="fullVideoConfigured">{{'ORIGIN' | translate}}: Stadtarchiv Heilbronn<br/><span
                class="legal-notice-long">{{'VIDEO_DESCRIPTION' | translate}}</span></span>
    </vg-video>
    <vg-poster-image vg-url="videogularConfig.plugins.poster"></vg-poster-image>
</div>
<div track-video-start videogular-api>
    <div class="start" ng-hide="videoHasStarted">
        <div class="start-content">
            <img src="img/Play_white.svg" class="playbutton clickable" ng-click="videogularAPI.play()">

            <div class="headline">
                <h1>Operation Sawfish</h1>

                <h2>{{'TITLE_H2' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="selectionscreen"
         ng-show="videogularAPI.isCompleted && videogularAPI.currentState === 'stop' && videoHasStarted && !fullVideoIsLoading">
        <a class="selectionscreen-choice" intro-video-swapper ng-hide="fullVideoConfigured" ng-click="showFullVideo()">
            <img src="img/endscreen/interaktiv.svg">
            {{'SHOW_FULL_VIDEO' | translate}}
        </a>
        <a class="selectionscreen-choice" href="/targetSelection" start-video-on-click>
            <img src="img/endscreen/next.svg">
            {{'CHAPTER' | translate}} 2: {{'CHAPTER_2' | translate}}
        </a>
    </div>
</div>
