<div class="share-icons">
    <div class="share-icon-container">
        <div class="share-icon"><a facebook class="facebookShare" data-url='http://sawfish.stimme.de'
                                   data-shares='shares'>{{
            shares }}</a></div>
    </div>
    <div class="share-icon-container">
        <div class="share-icon"><a twitter data-lang="en" data-count='horizontal' data-url='http://sawfish.stimme.de'
                                   data-via='notsosleepy'
                                   data-size="medium"
                                   data-text='Der Luftangriff auf Heilbronn am 4. Dezember 1944 interaktiv erzählt #4dez'></a>
        </div>
    </div>
    <div class="share-icon-container">
        <div class="share-icon">
            <div gplus class="g-plus" data-size="medium" data-annotation="bubble" data-href='http://sawfish.stimme.de'
                 data-action='share'></div>
        </div>
    </div>
    <div class="share-icon-container">
        <div class="share-icon"><a href="whatsapp://send"
                                   data-text="Der Luftangriff auf Heilbronn am 4. Dezember 1944 interaktiv erzählt"
                                   data-href="http://sawfish.stimme.de" class="wa_btn wa_btn_s" style="display:none">Share</a>
        </div>
    </div>
</div>