<div class="map-container" id="map" target-selection></div>
<div class="selectionscreen" videogular-api ng-hide="hideStartScreen">
    <div class="selectionscreen-choice clickable" ng-click="hideStartScreen=true;videogularAPI.play()">
        <h2>Kapitel 2: Der Plan</h2>

        <p><img class="play" src="img/play.svg"></p>
    </div>
</div>
<div class="selectionscreen" ng-show="showEndscreen">
    <div class="selectionscreen-choice">
        <p><a ng-click="showEndscreen=false"><img src="img/endscreen/interaktiv.svg"></a></p>

        <p class="selectionscreen-choice-title"><a ng-click="showEndscreen=false">Karte erkunden</a></p>
    </div>
    <div class="selectionscreen-choice">
        <p><a href="/flight"><img src="img/endscreen/next.svg" class="icon-next"></a></p>

        <p class="selectionscreen-choice-title"><a href="/flight">Kapitel 3: Der Anflug</a></p>
    </div>
</div>