<div class="map-container" target-selection></div>
<div class="selectionscreen" track-video-start videogular-api ng-hide="videoHasStarted">
    <a class="selectionscreen-choice" ng-click="videogularAPI.play()">
        <img class="play" src="img/play.svg">
        <h2>Kapitel 2: Der Plan</h2>
    </a>
</div>
<div class="selectionscreen" ng-show="showEndscreen">
    <a class="selectionscreen-choice" ng-click="activateInteractive()">
        <img src="img/endscreen/interaktiv.svg">
        Karte erkunden
    </a>
    <a class="selectionscreen-choice" href="/flight" start-video-on-click>
        <img src="img/endscreen/next.svg">
        Kapitel 3: Der Anflug
    </a>
</div>