<div class="map-container" id="map" target-selection></div>
<div class="endscreen" ng-show="showEndscreen">
    <div class="endscreen-choice">
        <p><a ng-click="showEndscreen=false"><img src="img/endscreen/interaktiv.svg"></a></p>

        <p class="endscreen-choice-title"><a ng-click="showEndscreen=false">Karte erkunden</a></p>
    </div>
    <div class="endscreen-choice">
        <p><a href="/flight"><img src="img/endscreen/next.svg" class="icon-next"></a></p>

        <p class="endscreen-choice-title"><a href="/flight">Kapitel 3: Der Anflug</a></p>
    </div>
</div>