@import "modules/reset";
@import "modules/map";
@import "modules/audio";

body, html {
  height: 100%;
  width: 100%;
  background: #000;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-bottom: 1em;
}

.content-container {
  position: relative;
  height: 90%;
}

.number {
  display: none;
}

nav {
  position: absolute;
  top: 90%;
  bottom: 0;
  width: 100%;
  background: #646463;
  padding: 10px;
  box-sizing: border-box;

  a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
    background: none;
    border: none;
    border-right: 1px solid #CECECE;
    font-size: 1.1em;
    padding: 14px;
    color: #FFF;
    text-decoration: none;

    .active {
      color: #A6A7A6
    }
  }
}

.talkie-video {
  height: 100%;

  video {
    @media (min-aspect-ratio: 1/1) {
      width: 100%;
      margin-left: -20%;
    }
    @media (max-aspect-ratio: 1/1) {
      height: 100%;
      margin-left: -40%;
    }
  }
}

svg {
  background: #C6C7AF;
  path {
    stroke-width: 1px;
    stroke: #000;
    fill: #000;
  }
}

.start {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/img/Stratscreen.jpg");
  background-size: 100% 90%;
  float: left;

}

.container {
  width: 80%;
  height: 250px;
  top: 0;

}

.playbutton {
  height: 450px;
  width: 550px;
  background-image: url("/img/10_Start_Play_gross.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-left: -150px;
  margin-top: -30px;
}

.headline {
  float: left;
  margin-top: 70px;

}

.start h1 {
  font-size: 3em;
  line-height: 0.5em;

}

// Responsive ab 960 pixel
@media only screen and (max-width: 960px) {
  .number {
    display: block;

  }

  .menu-headline {
    display: none;

  }

  .container {
    width: 80%;
    height: 150px;
    top: 0;

  }

  .playbutton {
    height: 150px;
    width: 250px;
    margin-left: 0px;
    margin-top: 0px;

  }

  .headline {
    float: left;
    margin-top: 20px;

  }

  .start h1 {
    font-size: 1em;
    line-height: 0.2em;

  }

  .start h2 {
    font-size: 0.8em;

  }

}

#a-wrapper {
  height: 100%;
  position: relative;
}

#flight-svg {
  position: absolute;
  top: 0;
  bottom: 10%;
  height: 90%;
  left: 0;
  width: 100%;
  z-index: 20;
  opacity: 0.7;
  background: #FFF;
}

#flight-map {
  position: absolute;
  top: 0;
  bottom: 10%;
  height: 90%;
  left: 0;
  width: 100%;
  z-index: 10;
}

#a-wrapper audio {
  position: absolute;
  bottom: 0;
}