@import "modules/prefixer";
@import "modules/base";
@import "modules/videogular";
@import "modules/controls";
@import "modules/map";
@import "modules/selectionscreen";
@import "modules/intro";
@import "modules/flight";

h1 {
  margin-bottom: 1em;
}

.number {
    
  float:left;
  margin-right:5px;
  font-size:20px;
  margin-top:-8px;
}

#flight-svg,
.talkie-bombs svg {
  path {
    stroke-width: 1px;
    stroke: #4E4E4E;
  }
}

.talkie-bombs .city path {
  stroke-width: 0;
}

.clock-face line {
  stroke-width: 2px;
  stroke: #4E4E4E;
}

line.second-hand {
  stroke-width: 1px;
}

.talkie-bombs svg {
  background: #C4C4C4;
  path {
    fill: #4E4E4E;
    stroke: #4E4E4E;
  }
  .bombs path {
    fill: none;
  }
  .clock {
    fill: #5D5D5D;
    font-weight: bold;
  }
}

.start {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/Stratscreen.jpg");
  background-size: 100% 100%;
  float: left;
  z-index: 1;
}

.container {
  width: 80%;
  height: 250px;
  top: 0;

}

.playbutton {
  height: 450px;
  width: 550px;
  background-image: url("/img/10_Start_Play_gross.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-left: -150px;
  margin-top: -30px;
}

.headline {
  float: left;
  margin-top: 100px;

}

.start h1 {
  font-size: 4em;
  line-height: 0.5em;

}

.start h2 {
    font-size:2em;
    
}

// Responsive ab 960 pixel
@media only screen and (max-width: 960px) {
  .number {
    display: block;

  }

  .menu-headline {
    display: none;

  }

  .container {
    width: 80%;
    height: 150px;
    top: 0;

  }

  .playbutton {
    height: 150px;
    width: 250px;
    margin-left: 0;
    margin-top: 0;

  }

  .headline {
    float: left;
    margin-top: 20px;

  }

  .start h1 {
    font-size: 1em;
    line-height: 0.2em;

  }

  .start h2 {
    font-size: 0.8em;

  }
  
  .menu-headline {
    min-width:40px;  
    font-size:0.8em;
    text-align:center;
    
}

}

text.counter {
  text-anchor: middle;
}

.counter-label {
  text-anchor: middle;
  font-size: 20px;
}

.counter-number {
  text-anchor: middle;
  font-size: 40px;
}

.current-time {
  font-size: 30px;
}

.clickable-layer {
  opacity: 0;
}

/** bombing **/
.bomb-label {
  font-size: 22px;
}

.bombs-interactive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 6000;
  background: #C4C4C4;
}

.bombs-interactive-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 980px;
  max-height: 100%;
  margin: 0 auto;
  padding: 1em 0;
  .box-sizing(border-box);
}

.bomb-detail-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}

.bomb-table {
  margin: 0 auto;
  td {
    padding: 21px;
  }
  .bomb-img {
    text-align: right;
  }
  .bomb-desc {
    max-width: 400px;
  }
}

.bomb-comparison-title {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 2em;
}

#bombs-svg {
  display: block;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

.bombs-counter-container {
  position: absolute;
  z-index: 30;
  left: 40%;
  right: 0;
  top: 14.5%;
  text-align: center;
  color: #572623;
  font-weight: bold;
  font-size: 47px;
  line-height: 0.7;
}

.bombs-counter-label {
  font-size: 30px;
  display: block;
}

.img-container {
  position: absolute;
  z-index: 5000;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  .close-icon {
    position: absolute;
    z-index: 100;
    top: 14px;
    right: 14px;
    text-align: center;
  }
}

.x-close-icon {
  font-size: 40px;
  line-height: 40px;
  color: lighten(black, 30%);
  background: #FFF;
  border-radius: 6px;
  border: 1px solid #FFF;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.75;
}

.img-hbf {
  background-image: url('../img/destruction/hbf.jpg');
}

.img-hotel {
  background-image: url('../img/destruction/hotel.jpg');
}

.img-feuersturm {
  background-image: url('../img/destruction/19441204_heilbronn_feuersturm_2.jpg');
}

.img-brand3 {
  background-image: url('../img/destruction/brand3.jpg');
}

.img-kiliansplatz {
  background-image: url('../img/destruction/kiliansplatz.jpg');
}

.img-rathaus {
  background-image: url('../img/destruction/rathaus.jpg');
}

.img-wollhaus {
  background-image: url('../img/destruction/wollhausplatz.jpg');
}

.img-luft {
  background-image: url('../img/destruction/luft.jpg');
}

.img-wiederaufbau {
  background-image: url('../img/destruction/wiederaufbau1.jpg');
}

.img-wiederaufbau2 {
  background-image: url('../img/destruction/wiederaufbau2.jpg');
}

/** destruction **/
.talkie-wrapper {
  position: relative;
  height: 100%;
}

/** comparison **/
.current-date {
  font-size: 16px;
  padding-bottom: 18px;
}

@keyframes linefill {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes linefill {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes linefill {
  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes linefill {
  to {
    stroke-dashoffset: 0;
  }
}

svg.comparison-chart {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 28px;
  right: 28px;
  width: 30%;

  .axis path,
  .axis line {
    fill: none;
    stroke: #4E4E4E;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .line-fill {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: linefill 24s linear forwards;
    -webkit-animation: linefill 24s linear forwards;
    -moz-animation: linefill 24s linear forwards;
    -o-animation: linefill 24s linear forwards;
  }
}

.meta {
    width:280px;
     height:40px;
     float:right;
    


}
.share {

border-right:1px solid darken(@font-color, 30%);
float:left;
border-left:1px solid darken(@font-color, 30%);    
}

vg-volume {
    float:left;
}

nav .info {

border-right:1px solid darken(@font-color, 30%);
width:50px;
float:left;
}

.stimme {
    float:right;
    padding-right:10px;
    padding-top:6px;
    
}

.social {

    display:none;


    
}

@media only screen and (max-width: 580px) {

  
  .stimme {
    display:none;
    }
   .meta {
    width:150px;
    }

}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 0.5;
    width:140px;
    height:100px;
    background-color: #fff;
    z-index:2;
    position:absolute;
    margin-top:-140px;
}

.fb a{
   color: #000;
   opacity:1;
}

.tw a{
   color: #000;
}

.wa a{
   color: #000;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
    
}
.animate-show.ng-hide {
    opacity: 0;
}

.share-img {
    width:40px;
    
}