@import "modules/prefixer";
@import "modules/base";
@import "modules/videogular";
@import "modules/controls";
@import "modules/map";
@import "modules/selectionscreen";
@import "modules/start";
@import "modules/intro";
@import "modules/flight";
@import "modules/bombing";
@import "modules/comparison";
@import "modules/img";

.clickable-layer {
  opacity: 0;
}

.x-close-icon {
  font-size: 40px;
  line-height: 40px;
  color: lighten(black, 30%);
  background: #FFF;
  border-radius: 6px;
  border: 1px solid #FFF;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.75;
}

.talkie-wrapper {
  position: relative;
  height: 100%;
}

.infoscreen {
  position: absolute;
  z-index: 20000;
  top: 0;
  right: 0;
  bottom: @nav-height;
  @media (max-width: 768px) {
    bottom: @nav-height-mobile;
  }
  text-align: right;
  width: 50%;
  min-width: 300px;
  max-width: 800px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px 20px 20px 15%;
  background: -moz-linear-gradient(left, rgba(35, 27, 13, 0) 0%, rgba(0, 0, 0, 0.05) 2%, rgba(0, 0, 0, 0.8) 32%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(35, 27, 13, 0)), color-stop(2%, rgba(0, 0, 0, 0.05)), color-stop(32%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(35, 27, 13, 0) 0%, rgba(0, 0, 0, 0.05) 2%, rgba(0, 0, 0, 0.8) 32%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(35, 27, 13, 0) 0%, rgba(0, 0, 0, 0.05) 2%, rgba(0, 0, 0, 0.8) 32%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(35, 27, 13, 0) 0%, rgba(0, 0, 0, 0.05) 2%, rgba(0, 0, 0, 0.8) 32%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(35, 27, 13, 0) 0%, rgba(0, 0, 0, 0.05) 2%, rgba(0, 0, 0, 0.8) 32%, rgba(0, 0, 0, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00231b0d', endColorstr='#000000', GradientType=1); /* IE6-9 */
  font-size: 12px;
  .info-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
  }
  p {
    margin-bottom: 1em;
  }
}

#close {
  max-width: 600px;
  max-height: 600px;
}
