@import "variables";

body, html {
  height: 100%;
  width: 100%;
  background: @bg;
  color: @font-color;
  font-family: @font-family;
  overflow:hidden;
}

.content-container,
.main-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content-container {
  top: 0;
  margin-bottom: @nav-height;
}

.main-nav {
  top: 100%;
  margin-top: -@nav-height;
  background: @nav-bg;
}

.clickable {
  cursor: pointer;
}
a {
  cursor: pointer;
  color: @font-color;
  text-decoration: none;
  &:hover {
    color: @font-color;
    text-decoration: none;
  }
}

.menu-headline {
    min-width:180px;
    font-size:1.4em;
    text-align:center;
    
}

@media only screen and (max-width: 1550px) {

  
  .menu-headline {
    min-width:120px;  
    font-size:0.9em;
    text-align:center;
    
}

}

@media only screen and (max-width: 1250px) {

  
  .menu-headline {
    min-width:60px;  
    font-size:0.8em;
    text-align:left;
    
}

}


