@import "prefixer";

.clock-face line {
  stroke-width: 2px;
  stroke: #4E4E4E;
}

line.second-hand {
  stroke-width: 1px;
}

.talkie-bombs svg {
  background: #C4C4C4;
  path {
    fill: #4E4E4E;
    stroke-width: 1px;
    stroke: #4E4E4E;
  }
  .bombs path {
    fill: none;
  }
  .clock {
    fill: #5D5D5D;
    font-weight: bold;
  }
  .city path {
    stroke-width: 0;
  }
}

text.counter {
  text-anchor: middle;
}

.counter-label {
  text-anchor: middle;
  font-size: 20px;
}

.counter-number {
  text-anchor: middle;
  font-size: 40px;
}

.current-time {
  font-size: 30px;
}

.bomb-label {
  font-size: 22px;
}

.bombs-interactive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 6000;
  background: #C4C4C4;
}

.bombs-interactive-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 980px;
  max-height: 100%;
  margin: 0 auto;
  padding: 1em 0;
  .box-sizing(border-box);
}

.bomb-detail-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}

.bomb-table {
  margin: 0 auto;
  td {
    padding: 21px;
  }
  .bomb-img {
    text-align: right;
  }
  .bomb-desc {
    max-width: 400px;
  }
}

.bomb-comparison-title {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 2em;
}

#bombs-svg {
  display: block;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

.bombs-counter-container {
  position: absolute;
  z-index: 30;
  left: 0;
  right: 0;
  top: 14.5%;
  width: 100%;
  text-align: center;
  color: #572623;
  font-weight: bold;
  font-size: 47px;
  line-height: 0.7;
}

.bombs-counter-label {
  font-size: 30px;
  display: block;
}

#bombs-svg {
  @media (max-aspect-ratio: 6/7) {
    .city, .cloud {
      .transform(scale(1.4) translate(-290px, 110px));
    }

    .clock-container {
      .transform(scale(1.4) translate(0, -90px));
      .transition(all 1s);
      &.clock-container-moved {
        .transform(scale(1.4) translate(280px, -230px));
      }
    }

    .circles {
      .transform(scale(1.4) translate(-290px, 103px));
    }

    .airplanes-container {
      .transform(translate(0, -200px));
    }
  }
}