.controls-container {
  display: table;
  height: 50px;
  width: 100%;
}

.chapters-nav {
  width: auto;
  display: table-cell;
  a {
    font-weight: bold;
    display: inline-block;
    background: none;
    border: none;
    border-right: 1px solid #CECECE;
    font-size: 12px;
    padding: 16px 10px;
    color: #FFF;
    text-decoration: none;

    .active {
      color: #A6A7A6
    }
  }
}
