@import "variables";

.controls-container {
  display: table;
  height: @nav-height - @scrubbar-height;
  width: 100%;
}

.chapters-nav {
  width: auto;
  display: table-cell;
  a {
    font-weight: bold;
    display: inline-block;
    background: none;
    border: none;
    border-right: 1px solid darken(@font-color, 30%);
    font-size: 12px;
    padding: 10px 10px;
    color: @font-color;
    text-decoration: none;
  }
}
