@import "variables";
@import "prefixer";

.intro-video {
  height: 100%;
  width: 100%;

  video,
  img {
    .transform(scale(1.75));
  }
  vg-poster-image img {
    @media (max-aspect-ratio: 1/1) {
      width: 100%;
      max-height: none;
    }
    @media (min-aspect-ratio: 1/1) {
      height: 100%;
      max-width: none;
    }
    margin: auto auto;

  }

  .legal-notice {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 650px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 20;
    font-size: 12px;
    color: darken(@font-color, 30%);
  }

  .legal-notice-long {
    @media (max-width: 768px) {
      display: none;
    }
  }
}