@import "variables";

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  font-family: @font-family;
}

.leaflet-popup-content {
  color: @nav-bg;
}

.leaflet-popup-title {
  font-size: 14px;
  font-weight: bold;
}

.legend {
  max-width: 270px;
  background: fadeout(@nav-bg, 60%);
  padding: 21px 21px 3px 21px;
  font-size: 16px;
  @media (max-height: 800px) {
    padding: 14px 14px 3px 14px;
    font-size: 14px;
  }
}

.legend-intro {
  margin-bottom: 14px;
  @media (max-height: 800px) {
    display: none !important;
  }
}

.legend-entry {
  display: table;
  margin-bottom: 18px;
  @media (max-height: 800px) {
    margin-bottom: 11px;
  }
}


.legend-color {
  display: table-cell;
  width: 30px;
  height: 30px;
  opacity: 0.35;
  border: 1px solid @font-color;
}

.legend-label {
  display: table-cell;
  padding-left: 16px;
  vertical-align: middle;
}