@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 0.45;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 0.45;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 0.45;
  }
}

@-o-keyframes dash {
  to {
    fill-opacity: 0.45;
    stroke-dashoffset: 0;
  }
}

#ts-wrapper {
  height: 100%;

  path {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    fill-opacity: 0;
    animation: dash 10s linear forwards;
    -webkit-animation: dash 10s linear forwards;
    -moz-animation: dash 10s linear forwards;
    -o-animation: dash 10s linear forwards;
  }
}

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
}