@bg: #000000;
@nav-bg: #4E4E4E;
@font-color: #FFFFFF;
@font-family: 'Titillium Web', sans-serif;
@scrubbar-bg: #6C4F31;
@scrubbar-current-bg: lighten(@scrubbar-bg, 30%);
@scrubbar-focus-color: lighten(@scrubbar-current-bg, 30%);

@nav-height: 90px;
@scrubbar-height: 10px;
@controls-height: @nav-height - @scrubbar-height;

@nav-height-mobile: 65px;
@scrubbar-height-mobile: 10px;
@controls-height-mobile: @nav-height-mobile - @scrubbar-height-mobile;