@import "variables";

.scrubbar-container {
  height: @scrubbar-height;
  background: @scrubbar-bg;
}

videogular vg-scrubbar {
  width: 100%;
  height: 100%;
  display: block;
  div {
    height: 100%;
  }
}

videogular vg-scrubBarCurrentTime {
  height: 100%;
  background-color: @scrubbar-current-bg;
}

videogular vg-scrubbar :focus vg-scrubBarCurrentTime {
  border-right: 6px @scrubbar-focus-color;
}

videogular vg-controls {
  height: 100%;
  top: 0;
}

videogular vg-controls #controls-container {
  height: 100%;
  background: @nav-bg;
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
}

videogular vg-poster-image,
videogular vg-video {
  overflow: hidden;
}